<a href="https://colab.research.google.com/github/Arinjay11000/Political-Opinion-Mining-From-Twitter-Data/blob/main/Data%20Collection/%23AssemblyPolls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q snscrape==0.3.4

In [ ]:
import os
import pandas as pd
from datetime import date

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#AssemblyPolls2022 since:2021-11-01 until:2022-03-10').get_items()):
    tweets_list2.append([tweet.date, tweet.id, tweet.content,tweet.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [ ]:
tweets_df2.head()

,Datetime,Tweet Id,Text,Username
0,2022-03-09 18:29:40+00:00,1501626288381231104,The Aam Aadmi Party is on the cusp of creating...,rubenmasc
1,2022-03-09 16:17:55+00:00,1501593130616905729,#Goa election begins now. #GoaAssemblyElection...,KartikeyaBatra
2,2022-03-09 15:47:02+00:00,1501585358945124353,"10 मार्च को विधानसभा चुनाव के नतीजे, कहां किसक...",Nai_Dunia
3,2022-03-09 15:45:00+00:00,1501584847319490561,Here is how you can check the result of all th...,EconomicTimes
4,2022-03-09 15:44:06+00:00,1501584622034907137,Assembly Polls: Punjab invokes Section 144 ahe...,madhyamam_eng

In [ ]:
tweets_df2.to_csv("#AssemblyPolls.csv")

In [ ]:
tweets_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  348 non-null    datetime64[ns, UTC]
 1   Tweet Id  348 non-null    int64
 2   Text      348 non-null    object
 3   Username  348 non-null    object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 11.0+ KB