<a href="https://colab.research.google.com/github/Arinjay11000/Political-Opinion-Mining-From-Twitter-Data/blob/main/Data%20Collection/%23AssemblyElections2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q snscrape==0.3.4

In [ ]:
import os
import pandas as pd
from datetime import date

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#AssemblyElections2022 since:2021-11-01 until:2022-03-10').get_items()):
    tweets_list2.append([tweet.date, tweet.id, tweet.content,tweet.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [ ]:
tweets_df2.head()

,Datetime,Tweet Id,Text,Username
0,2022-03-09 23:56:38+00:00,1501708570005745664,"ಉತ್ತರ ಪ್ರದೇಶ, ಉತ್ತರಾಖಂಡ, ಪಂಜಾಬ್, ಗೋವಾ ಮತ್ತು ಮಣ...",News18Kannada
1,2022-03-09 23:55:24+00:00,1501708262579703808,#ResultsOnTNN: 22 में बाइस‍िकल या फ‍िर कमल ?\n...,TNNavbharat
2,2022-03-09 23:48:51+00:00,1501706614536949760,आ गया फैसले का दिन....किसी की हार होगी किसी की...,arunkum11899449
3,2022-03-09 23:35:50+00:00,1501703337342693377,Assembly Election Results 2022: मतगणना स्थलों ...,Live_Hindustan
4,2022-03-09 23:30:09+00:00,1501701906334244868,"#ResultsOnTNN: सबसे तेज़, एकदम सटीक और नए अंदा...",TNNavbharat

In [ ]:
tweets_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43270 entries, 0 to 43269
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  43270 non-null  datetime64[ns, UTC]
 1   Tweet Id  43270 non-null  int64
 2   Text      43270 non-null  object
 3   Username  43270 non-null  object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 1.3+ MB

In [ ]:
tweets_df2.to_csv("#AssemblyElections2022.csv")