<a href="https://colab.research.google.com/github/Arinjay11000/Political-Opinion-Mining-From-Twitter-Data/blob/main/Data%20Collection/%23GoaElections2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q snscrape==0.3.4

In [ ]:
import os
import pandas as pd
from datetime import date

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#GoaElections2022 since:2021-11-01 until:2022-03-10').get_items()):
    tweets_list2.append([tweet.date, tweet.id, tweet.content,tweet.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [ ]:
tweets_df2.head()

,Datetime,Tweet Id,Text,Username
0,2022-03-09 23:57:16+00:00,1501708732442746880,@priyankagandhi मेडम वो EVM वाले ट्वीट कितने ब...,nj_nishant
1,2022-03-09 23:56:58+00:00,1501708655527591936,#ElectionResults मतमोजणीचं काऊंटडाऊन सुरू! मतद...,abpmajhatv
2,2022-03-09 23:49:14+00:00,1501706707227254786,बहुत लोगों को कल रात नींद नहीं आई होगी!! फिर भ...,AroraGonika
3,2022-03-09 23:39:12+00:00,1501704185691406336,Yesterday @BJP4Goa called meeting of all candi...,siddharthSakal
4,2022-03-09 23:38:52+00:00,1501704098907041792,कुछ घंटों में 5 राज्यों की सियासत और सियासतदान...,JeetBhatiNews

In [ ]:
tweets_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21879 entries, 0 to 21878
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  21879 non-null  datetime64[ns, UTC]
 1   Tweet Id  21879 non-null  int64
 2   Text      21879 non-null  object
 3   Username  21879 non-null  object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 683.8+ KB

In [ ]:
tweets_df2.to_csv("#Goa2022.csv")