<a href="https://colab.research.google.com/github/Arinjay11000/Political-Opinion-Mining-From-Twitter-Data/blob/main/Data%20Collection/%23ManipurElections2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q snscrape==0.3.4

In [ ]:
import os
import pandas as pd
from datetime import date

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#ManipurElections2022 since:2021-11-01 until:2022-03-10').get_items()):
    tweets_list2.append([tweet.date, tweet.id, tweet.content,tweet.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [ ]:
tweets_df2.head()

,Datetime,Tweet Id,Text,Username
0,2022-03-09 23:57:16+00:00,1501708732442746880,@priyankagandhi मेडम वो EVM वाले ट्वीट कितने ब...,nj_nishant
1,2022-03-09 23:49:14+00:00,1501706707227254786,बहुत लोगों को कल रात नींद नहीं आई होगी!! फिर भ...,AroraGonika
2,2022-03-09 23:35:19+00:00,1501703205666709507,Today bjp is losing election in 5 states.\n#Go...,saifuddin_06
3,2022-03-09 23:11:09+00:00,1501697127252054025,"I trust Indian people, they will make India an...",RWFlabbergasted
4,2022-03-09 20:22:51+00:00,1501654770477834241,#UttarPradeshElections \n#UttarakhandElections...,NailahIstifa

In [ ]:
tweets_df2.to_csv("#Manipur2022.csv")

In [ ]:
tweets_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5495 entries, 0 to 5494
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  5495 non-null   datetime64[ns, UTC]
 1   Tweet Id  5495 non-null   int64
 2   Text      5495 non-null   object
 3   Username  5495 non-null   object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 171.8+ KB