<a href="https://colab.research.google.com/github/Arinjay11000/Political-Opinion-Mining-From-Twitter-Data/blob/main/Data%20Collection/%23StateElections2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q snscrape==0.3.4

In [ ]:
import os
import pandas as pd
from datetime import date

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#StateElections2022 since:2021-11-01 until:2022-03-10').get_items()):
    tweets_list2.append([tweet.date, tweet.id, tweet.content,tweet.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [ ]:
tweets_df2.head()

,Datetime,Tweet Id,Text,Username
0,2022-03-09 16:18:06+00:00,1501593177618546690,‡§â‡§§‡•ç‡§§‡§∞ ‡§™‡•ç‡§∞‡§¶‡•á‡§∂ ‡§î‡§∞ ‡§™‡§Ç‡§ú‡§æ‡§¨ ‡§ï‡•á ‡§ö‡•Å‡§®‡§æ‡§µ‡•Ä ‡§®‡§§‡•Ä‡§ú‡•ã‡§Ç ‡§∏‡•á ‡§≠‡§æ‡§∞‡§§...,JagranNews
1,2022-03-09 11:38:58+00:00,1501522931486179334,UP me ye chal raha ‚òùü§ì\n#stateelections2022 #UP...,atulsinghji
2,2022-03-09 11:21:43+00:00,1501518590545051648,Koo Studio ‡§ö‡•Å‡§®‡§æ‡§µ‡•Ä ‡§π‡§≤‡§ö‡§≤- ‡§â‡§§‡•ç‡§§‡§∞ ‡§™‡•ç‡§∞‡§¶‡•á‡§∂ ‡§µ ‡§™‡§Ç‡§ú‡§æ‡§¨ ‡§ï...,JagranNews
3,2022-03-08 17:18:49+00:00,1501246068029222915,‡§Ü‡§ú ‡§ï‡•á Koo Studio ‡§§‡§∞‡•ç‡§ï ‡§µ‡§ø‡§§‡§∞‡•ç‡§ï ‡§ï‡§æ‡§∞‡•ç‡§Ø‡§ï‡•ç‡§∞‡§Æ ‡§Æ‡•á‡§Ç ‡§µ‡§ø‡§ß...,JagranNews
4,2022-03-08 16:06:58+00:00,1501227988972556295,‡§Ü‡§ú ‡§ï‡•á Koo Studio ‡§ö‡•Å‡§®‡§æ‡§µ‡•Ä ‡§π‡§≤‡§ö‡§≤ ‡§Æ‡•á‡§Ç ‡§¶‡•á‡§ñ‡§ø‡§è ‡§è‡§ó‡•ç‡§ú‡§ø‡§ü ...,JagranNews

In [ ]:
tweets_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  91 non-null     datetime64[ns, UTC]
 1   Tweet Id  91 non-null     int64
 2   Text      91 non-null     object
 3   Username  91 non-null     object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 3.0+ KB

In [ ]:
tweets_df2.to_csv("#StateElections2022.csv")