<a href="https://colab.research.google.com/github/Arinjay11000/Political-Opinion-Mining-From-Twitter-Data/blob/main/Data%20Collection/%23UttarPradeshElections2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q snscrape==0.3.4

In [ ]:
import os
import pandas as pd
from datetime import date

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#UttarPradeshElections2022 since:2021-11-01 until:2022-03-10').get_items()):
    tweets_list2.append([tweet.date, tweet.id, tweet.content,tweet.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [ ]:
tweets_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65016 entries, 0 to 65015
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  65016 non-null  datetime64[ns, UTC]
 1   Tweet Id  65016 non-null  int64
 2   Text      65016 non-null  object
 3   Username  65016 non-null  object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 2.0+ MB

In [ ]:
tweets_df2.head()

,Datetime,Tweet Id,Text,Username
0,2022-03-09 23:56:59+00:00,1501708658211581956,"@pankajjha_ ‡§á‡§§‡§®‡•Ä ‡§∏‡•Å‡§¨‡§π ‡§∏‡•Å‡§¨‡§π ‡§ü‡•ç‡§µ‡•Ä‡§ü, ‡§∞‡§æ‡§Æ ‡§∞‡§æ‡§Æ ‡§ú‡•Ä ‡§ï...",jayramdarbhanga
1,2022-03-09 23:41:40+00:00,1501704805575987204,https://t.co/aW3vyOsXjE - ye ‡§§‡•ã ‡§Æ‡§∞‡•á ‡§π‡•Å‡§è ‡§á‡§Ç‡§∏‡§æ‡§® ...,vikram140gulati
2,2022-03-09 22:27:10+00:00,1501686054440824834,‡§´‡§æ‡§ó‡•Å‡§® ‡§Æ‡§æ‡§π ‡§Æ‡•á‡§Ç ‡§ï‡§Æ‡§≤ ‡§ï‡§æ ‡§´‡•Ç‡§≤ ‡§®‡§π‡•Ä ‡§ñ‡§ø‡§≤‡§§‡§æ ‡§π‡•à\n\n#Utta...,KhAnEmR68467819
3,2022-03-09 21:37:05+00:00,1501673451534225411,Important update üö® \n‡§à‡§µ‡•Ä‡§è‡§Æ ‡§ñ‡•Å‡§≤‡§§‡•á ‡§π‡•Ä ‡§∏‡§¨‡§∏‡•á ‡§™‡§π‡§≤‡•á ...,IamWasimQureshi
4,2022-03-09 20:57:10+00:00,1501663408633962496,"‡§è‡§ï ‡§¨‡§æ‡§§ ‡§§‡•ã ‡§§‡§Ø ‡§π‡•à, ‡§Ü‡§ú ‡§ï‡§ø‡§∏‡•Ä ‡§®‡§æ ‡§ï‡§ø‡§∏‡•Ä ‡§ï‡•Ä ‡§∏‡§∞‡§ï‡§æ‡§∞ ‡§ú‡§∞‡•Å‡§∞...",Yoyoabhi121

In [ ]:
tweets_df2.to_csv("#UP2022.csv")