<a href="https://colab.research.google.com/github/Arinjay11000/Political-Opinion-Mining-From-Twitter-Data/blob/main/Data%20Collection/%23UttarakhandElections2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q snscrape==0.3.4

In [ ]:
import os
import pandas as pd
from datetime import date

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#UttarakhandElections2022 since:2021-11-01 until:2022-03-10').get_items()):
    tweets_list2.append([tweet.date, tweet.id, tweet.content,tweet.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%23UttarakhandElections2022+since%3A2021-11-01+until%3A2022-03-10&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgNCN7ILRpikWgIDRldiIktcpEnEV7JlsFYCJehgHREVGQVVMVDUBFYQMFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ConnectionError(ProtocolError('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))), retrying

In [ ]:
tweets_df2.head()

,Datetime,Tweet Id,Text,Username
0,2022-03-09 23:57:16+00:00,1501708732442746880,@priyankagandhi मेडम वो EVM वाले ट्वीट कितने ब...,nj_nishant
1,2022-03-09 23:35:19+00:00,1501703205666709507,Today bjp is losing election in 5 states.\n#Go...,saifuddin_06
2,2022-03-09 23:30:00+00:00,1501701869978243077,Good Morning UP!\n\nसुबह से ही स्ट्रांग रूम पर...,RJDUttarPradesh
3,2022-03-09 23:11:56+00:00,1501697320790167552,ഉത്തർപ്രദേശിൽ സാധ്യത ബിജെപിയ്ക്ക്; കർഷക സമരം ത...,24onlive
4,2022-03-09 22:52:29+00:00,1501692427635400704,Will see whether we get liberation or not toda...,thenmazhaii

In [ ]:
tweets_df2.to_csv("#Uttarakhand2022.csv")

In [ ]:
tweets_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18599 entries, 0 to 18598
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  18599 non-null  datetime64[ns, UTC]
 1   Tweet Id  18599 non-null  int64
 2   Text      18599 non-null  object
 3   Username  18599 non-null  object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 581.3+ KB